.appbar {
  width: 100%;
  position: fixed;
  padding: 1rem 0;
  z-index: 1100;

  transition: all 0.5s ease-in-out;
  transition-property: box-shadow, padding;
}

.appbarOpaque {
  background-image: linear-gradient(135deg, #96c93d 1%, #00b09b 100%);
  box-shadow: 0 2px 4px -1px rgba(0,0,0,0.2),0px 4px 5px 0px rgba(0,0,0,0.14),0px 1px 10px 0px rgba(0,0,0,0.12);
  padding: 0;
}

.navbar {
  display: flex;

  a {
    color: #fff;
    font-size: 0.875rem;
    font-weight: 500;
    letter-spacing: -0.1px;
    margin-left: 1.25rem;
    opacity: 0.8;
    text-decoration: none;
    transition: opacity 0.3s ease;

    &::after {
      border-bottom: 2px solid rgba(255, 255, 255, 0.8);
      content: "";
      display: block;
      transition: width 0.3s ease;
      width: 0;
    }

    &:hover {
      opacity: 1;

      &::after {
        width: 100%;
      }
    }
  }
}
